#root {
  margin: 0 auto;
  text-align: center;
}


.entry {
  height: 50vh;
  width: 25vw;
}

.inliner{
	display: inline;
}

.sidePanel{
  height: 50vh;
  width: 15vw;
}

.bg-primary {
  background-color: #9A08FA !important;
}

@media (orientation: portrait) {
	.entry {
	  height: 50vh;
	  width: 70vw;
	}
}

-h-f{
	height: 15%;
}
